{% extends "GouzzyGamesCollectionBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - liste des consoles{% endblock %}
{% block body %}
    <ul>
    {% for console in consoles %}
        <li><img src="{{ asset('img/consoles/' ~ console.getMasterPicture().getUrl()) }}" width="100" height="100" /> {{ console.getName() }}</span> (<span><a href="{{ console.getWikiLink() }}" target="_blank">{{ console.getWikiLink() }}</a>)</li>
    {% else %}
        <p>Pas de consoles</p>
    {% endfor %}
    </ul>
{% endblock %}