{% extends "GouzzyGamesCollectionBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Index{% endblock %}
{% block body %}
    <div class="container">
    {% for developper in developpers %}
        <div class="game">
            <img src="{{ asset('img/developpers/' ~ developper.getMasterPicture()) }}" width="100" height="100" /> <a href="{{ path('gouzzy_games_collection_generic_game_list_with_developperId', {'developperId': developper.id}) }}" >{{ developper.getName() }}</a></span> (<span><a href="{{ developper.getWikiLink() }}" target="_blank">{{ developper.getWikiLink() }}</a>)
        </div>
    {% else %}
        <p>Pas de marques</p>
    {% endfor %}
    </div>
{% endblock %}